body {
  font-size: 18px;
  background-color: white;
  color: 000;
  pa
}

nav {
  background-color: #333333;
  float: left;
  position: fixed;
  width: 100%;
}
a {
  text-decoration: none;
  color: white;
}

a:hover{
    color: cyan;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}


ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 120px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

.story-text{
  line-height: 120%;
}

p {
  margin-bottom: 25px;
}

h1{
  font-size: 2.5em;
  padding-top: .75em;
  padding-bottom: .3em;
}

h3 {
  font-size: 1.5em;
  line-height: 1em;
  padding-bottom: .4em;
}
